doctype html
html
  head
    title Welcome to Newspaper App
  body
    h1 Welcome, #{firstName}!
    p Thank you for signing up for the Newspaper App.
    p Enjoy reading your favorite newspapers with us.
